@import '~antd/dist/antd.css';

.App {
  background: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #151f4c;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: white;
  padding: 20px;
}

.App-header .header-left {
    text-align: left;
    width: 50%
}

.header-right {
    text-align: right;
    width: 50%;
}

.App-link {
  color: #61dafb;
}

.user-text-image {
 color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
    display: flex;
    background-color: white;
    border-bottom: 2px solid black;
    font-size: 18px;

}
.navbar-left{
    width: 50%;
    padding: 8px;
    margin: auto;
}

.navbar-left div{
    display: inline;
    padding-right: 2px;
    padding-left: 2px;
}

.navbar-right {
    text-align: right;
    width: 50%;
    padding: 8px;
    margin: auto;
}

.blue-button {
background: #4568f6;
    width: fit-content;
    display: inline-flex;
    color: white;
    padding: 4px;
    padding-right: 12px;
    padding-left: 12px;
    border: 1px solid #4568f6;
    border-radius: 4px;
    cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
  padding-top: 20px;
  text-align: center;
}

.popup_inner input{
padding: 4px;
}
.popup_footer {
    padding-top: 8px;
}

.card-container .ant-tabs-bar {
padding-left: 20px;
padding-right: 20px;
}

.table-all {
padding-left: 20px;
padding-right: 20px;
}